<h1>Todos</h1>
<div class="row">
  <ul class="list-group col-md-6">
  {{#each}}
    <li class="list-group-item">
      {{input type='checkbox' checked=complete}}
      <span {{bind-attr class="complete:complete"}}>{{title}}</span>
      <button class="btn btn-danger btn-xs pull-right delete-todo" {{action 'deleteTodo' this}}>&times;</button>
    </li>
  {{/each}}
  </ul>
</div>
{{partial 'todos/new'}}

